- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
- if (!everyauth.loggedIn)
  h2 Not Authenticated + #{everyauth.loggedIn} + #{everyauth.user} + #{user}
  #register
    a(href='/register') Register
  #password-login
    a(href='/login', style='border: 0px') Login with Password
  #google-login
    a(href='/auth/google', style='border: 0px')
      img(style='border: 0px', src='https://www.google.com/favicon.ico')
- else
  h2 Authenticated

  h2 Users
  #user-id
  label User Id #{everyauth.user} auth #{everyauth.loggedIn} #{user}
  
  h3
    a(href='/logout') Logout
