h2 Register
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/register', method='POST')
  #name
    label(for='name') Full name
    input(type='text', name='name', value=userParams['name'])    
  #email
    label(for='email') Email
    input(type='text', name='email', value=userParams['email'])
  #username
    label(for=everyauth.password.loginFormFieldName) Username
    input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    input(type='password', name=everyauth.password.passwordFormFieldName)
  #submit
    input(type='submit') Register
