h2 Register
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action='/register', method='POST')
  #name
    label(for='name') Full name
    input(type='text', name='name', value=userData['name'])    
  #email
    label(for='email') Email
    input(type='text', name='email', value=userData['email'])
  #username
    label(for='username') Username
    input(type='text', name='username', value=userData['username'])
  #password
    label(for='password') Password
    input(type='password', name='password', value=userData['password']  )
  #submit
    input(type='submit') Register
