- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

.container-fluid
  .row-fluid
  .span12
    h2 #{statement.id} #{statement.title}
  .row-fluid
  each args, side in statement.sides
    h2 #{statement.length}
    .span6
      h3 #{side}
      each arg, i in args
        a(href='/statement/#{arg.id}') #{arg.title}
